# Dependency directories
node_modules/

# Build outputs
dist/
*.log
*.tsbuildinfo

# IDE - VSCode
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Editor directories and files
.idea/
*.swp
*.swo

# Ignore npm lock files
package-lock.json
yarn.lock

# Ignore the config file
config.json

# Ignore Husky local config
.husky.local
