@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.gameboard {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
}

.grid-row {
  display: flex;
  width: 100%;
}

.grid-cell {
  flex: 1 0 10%;
  position: relative;
  height: 0;
  padding-top: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.ship-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
